body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.bookList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

section {
    margin: 2rem;
}

form label {
    display: inline-block;
    width: 5rem;
    text-align: right;
}

form div {
    margin: 0.1rem;
}

form input {
    width: 10rem;
}

form button {
    margin-left: 5.4rem;
    width: 10.44rem;
}